amqp==5.1.1
auxlib
asgiref==3.6.0
billiard<3.6.0 
celery>=4.0.0
click==8.1.3
click-didyoumean==0.3.0
click-repl==0.2.0
colorama==0.4.6
dj-database-url==0.5.0
Django==4.1.4
django-celery-beat==1.1.1
django-crispy-forms==1.14.0
django-environ==0.9.0
gunicorn==19.9.0
kombu>=4.6.10
olefile==0.45.1
Pillow==9.3.0
prompt-toolkit==3.0.36
 psycopg2-binary
 psycopg2>=2.7,<2.8 --no-binary psycopg2
 pip-tools
pytz==2018.5
redis==2.10.6
six==1.16.0
sqlparse==0.4.3
tzdata==2022.7
vine>=1.3.0 
wcwidth==0.2.5
whitenoise==6.2.0
