{% extends 'core/base.html' %}

{% block title %} About | {{ block.super }}{% endblock title %}

{% block content %}
<div class="container">
<h1>About The Developer</h1>

<hr>
<p>Anthony is a professional software developer with over 6years of active web development using the python programming language. He has successfully deployed several python projects written in Django, Flask, FASTAPI ETC.. He has also worked as a  professional software data scientist and has employed several ML models in analysing dataset.</p>

<p>As an engineering graduate with a strong flair for mathematical analysis, Anthony has built several complex analytical software, and has mentored several young developers in their early phase of their career.</p>


<p> This website is deployed for illustrative purpose, the actual job with all functionality was done for a client and this representation only shows the little of what can be achieved using Python django, js and bootstrap.Please feel free to use the contact form in the contact page</p>
</div>

{% endblock content %}
